*.aux
*.bbl
*.blg
*.brf
*.idx
*.ilg
*.ind
*.lof
*.log
*.lot
*.maf
*.mtc*
*.out
*.toc
*.synctex(busy)
*.synctex.gz
*.fdb_latexmk
*.fls
*.dvi
*.xdv
*.tmp
*.bak
*.swp
*.backup
*.sav
*.sbk
*.swo
.texpadtmp/
.DS_Store
/*.pdf
